{% extends 'deals/layout/template.html' %}
{% set data_mask = 1 %}
{% set active_page = "proforma" %}
{% block content %}
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="breadcrumb-item"><a href="#">Property</a></li>
                    <li class="breadcrumb-item active">Add Proforma</li>
                </ol>
            </div>
            <h4 class="page-title">{{ property }}</h4>
        </div>
    </div>
</div>

{% include 'deals/forms/proforma.html' %}

{% endblock %}
