<div class="card-box">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="text-dark  header-title m-t-0">Capital Expenditures</h4>
        <p class="text-muted m-b-25 font-13">
            The types of capital expenditures you will have for this property.
        </p>
      </div>
      <div class="col-lg-6 pull-right">
        <a href="{{ url_for('proformas.add_capital_expenditure', proforma_id=proforma.id) }}" class="btn btn-primary pull-right">Add</a>
      </div>
    </div>
    <table class="table table-auto-res mb-0">
        <thead>
        <tr>
            <th>#</th>
            <th>Type</th>
            <th>Replacement Cost</th>
            <th>Lifespan</th>
            <th>Yearly</th>
            <th>Monthly</th>
        </tr>
        </thead>
        <tbody>
          {% for capital_expenditure in proforma.capital_expenditures %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ capital_expenditure.type }}</td>
                <td>{{ capital_expenditure.replacement_cost|currency }}</td>
                <td>{{ capital_expenditure.lifespan }}</td>
                <td>{{ capital_expenditure.getYearlyReserve()|currency }}</td>
                <td>{{ capital_expenditure.getMonthlyReserve()|currency }}</td>
                <td class="actions">
                    <a href="{{ url_for('proformas.edit_capital_expenditure', capital_expenditure_id=capital_expenditure.id) }}" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                    <a href="{{ url_for('proformas.delete_capital_expenditure', capital_expenditure_id=capital_expenditure.id) }}" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
</div>
