{% from "macros/_horizontal_form.html" import render_static %}
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-lg-6">
        <h4 class="text-dark  header-title m-t-0">Deal Info</h4>
        <p class="text-muted m-b-25 font-13">
            Details of the deal
        </p>
      </div>
      <div class="col-lg-6">
        <a href="{{ url_for('proformas.edit', proforma_id=proforma.id) }}" class="btn btn-primary pull-right">Edit</a>
      </div>
    </div>
    <dl class="row">
      <dt class="col-4">ARV</dt>
      <dd class="col-8">{{ proforma.arv|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Purchase Price</dt>
      <dd class="col-8">{{ proforma.purchase_price|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Seller Concessions</dt>
      <dd class="col-8">{{ proforma.seller_concessions|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Closing Costs</dt>
      <dd class="col-8">{{ proforma.closing_costs|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Rent Ready Costs</dt>
      <dd class="col-8">{{ proforma.rent_ready_costs|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Initial Reserves</dt>
      <dd class="col-8">{{ proforma.initial_reserve_amount|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Lease Option Fee</dt>
      <dd class="col-8">{{ proforma.lease_option_fee|currency }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Total Finished Sq. Foot</dt>
      <dd class="col-8">{{ proforma.total_finished_sq_foot }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Land Value (%)</dt>
      <dd class="col-8">{{ proforma.getLandValuePercent()|percent }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Income Tax Rate</dt>
      <dd class="col-8">{{ proforma.getIncomeTaxRate()|percent }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Vacancy (%)</dt>
      <dd class="col-8">{{ proforma.getVacancyPercent()|percent }}</dd>
    </dl>
    <dl class="row">
      <dt class="col-4">Appreciation Rate (%)</dt>
      <dd class="col-8">{{ proforma.getAppreciationRate()|percent }}</dd>
    </dl>
  </div>
</div>
