{% extends "main/layout/template.html" %}
{% block content %}
    <h1>Search Results</h1>
    {% for contact in contacts %}
      <div class="card-box widget-user">
          <div>
              <div class="wid-u-info">
                  <h5 class="mt-0 m-b-5 font-16">{{ contact }}</h5>
                  <p class="text-muted m-b-5 font-13">{{ contact.email }}</p>
                  <p class="text-muted m-b-5 font-13"><b>{{ contact.phone }}</p>
                  <a href="{{ url_for('marketing.lead', lead_id=contact.id) }}" class="btn btn-primary">View</a>
              </div>
          </div>
      </div>
    {% endfor %}
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span>
                    Previous results
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Next results
                    <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% include 'layouts/backend/common/javascript.html' %}
