<!-- jQuery  -->
<script src="{{ url_for('static', filename='backend/js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/popper.min.js') }}"></script><!-- Popper for Bootstrap --><!-- Tether for Bootstrap -->
<script src="{{ url_for('static', filename='backend/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/waves.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.scrollTo.min.js') }}"></script>

{% if data_mask %}
<script src="{{ url_for('static', filename='backend/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js') }}" type="text/javascript"></script>
{% endif %}

{% if datatable %}
<!-- Required datatable js -->
<script src="{{ url_for('static', filename='backend/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<!-- Buttons examples -->
<script src="{{ url_for('static', filename='backend/plugins/datatables/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/jszip.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/pdfmake.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/vfs_fonts.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/buttons.print.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/buttons.colVis.min.js') }}"></script>
<!-- Responsive examples -->
<script src="{{ url_for('static', filename='backend/plugins/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/responsive.bootstrap4.min.js') }}"></script>
{% endif %}

{% if wizard %}
<!--Form Wizard-->
<script src="{{ url_for('static', filename='backend/plugins/jquery.steps/js/jquery.steps.min.js') }}" type="text/javascript"></script>
<script type="text/javascript" src="{{ url_for('static', filename='backend/plugins/jquery-validation/js/jquery.validate.min.js') }}"></script>

<!--wizard initialization-->
<script src="{{ url_for('static', filename='backend/pages/jquery.wizard-init.js') }}" type="text/javascript"></script>

{% endif %}

{% if modal %}
<!-- Modal-Effect -->
<script src="{{ url_for('static', filename='backend/plugins/custombox/dist/custombox.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/custombox/dist/legacy.min.js') }}"></script>
{% endif %}

<!-- App js -->
<script src="{{ url_for('static', filename='backend/js/jquery.core.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.app.js') }}"></script>

{% if datatable %}
<script type="text/javascript">
    $(document).ready(function() {
        //$('.datatable').DataTable();

        //Buttons examples
        var table = $('.datatable').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf']
        });

        table.buttons().container()
                .appendTo('#datatable-buttons_wrapper .col-md-6:eq(0)');
    } );

</script>
{% endif %}

{% if map %}

<script>
  var map;
  function initMap() {
    {% if properties %}
    var markers = [];//some array
    var map = new google.maps.Map(document.getElementById('gmaps-marker'), {
      center: {lat: -34.397, lng: 150.644},
      maxZoom: 15
    });
    {% for property in properties %}
      {% if property.address.latitude is not none and property.address.longitude is not none %}
        markers.push(new google.maps.Marker({
          position: {lat: {{ property.address.latitude }}, lng: {{ property.address.longitude}} },
          map: map,
          title: '{{ property.address }}'
        }));
      {% endif %}
    {% endfor %}
    var bounds = new google.maps.LatLngBounds();
    for (var i = 0; i < markers.length; i++) {
     bounds.extend(markers[i].getPosition());
    }

    map.fitBounds(bounds);

    {% else %}
      {% if property and property.address.latitude is not none and property.address.longitude is not none %}
        var propertyLocation = {lat: {{ property.address.latitude}}, lng: {{ property.address.longitude}}};
        var map = new google.maps.Map(document.getElementById('gmaps-marker'), {
          center: propertyLocation,
          zoom: 8
        });
        var marker = new google.maps.Marker({
          position: propertyLocation,
          map: map,
          title: '{{ property.address }}'
        });
      {% endif %}
    {% endif %}
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW06EkRn-nhTFtmqjiPsQN_1GBsI9Lh2Q&callback=initMap"
async defer></script>
{% endif %}

{% if sweetalert %}
<script src="{{ url_for('static', filename='backend/plugins/bootstrap-sweetalert/sweet-alert.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/pages/jquery.sweet-alert.init.js') }}"></script>
<script type=text/javascript>
  $(function() {
    $('.export-buyers').click(function() {
      var this_deal_id = $(this).attr('id')
      swal({
        title: "Send Export List?",
        text: "Press OK to email the export.",
        type: "info",
        showCancelButton: true,
        closeOnCancel: true,
        closeOnConfirm: false,
        showLoaderOnConfirm: true
      }, function (inputValue) {
        if(inputValue === false) return false;
        $.ajax({
            url: "#" + '?deal_id=' + this_deal_id,
            type: 'GET',
            success: function(response) {
                swal("Success!", "Your email has been sent. Please check your mailbox.", "success")
            },
            error: function(error) {
                swal("Uh Oh!", "Something went wrong and your email was not sent.", "warning")
            }
        });

      });
    });
  });
</script>
{% endif %}

<!-- Mustache JS -->
<script src="{{ url_for('static', filename='backend/js/mustache.min.js') }}"></script>

{% if nvd3 %}
<!-- Nvd3 js -->
<script src="{{ url_for('static', filename='backend/plugins/d3/d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/nvd3/build/nv.d3.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/d3/d3-time-format.min.js') }}"></script>
<script type="text/javascript">
  var parseDate = d3.timeParse("%m %Y");
  var priceToRentChart;
  var priceToRentChartData;
  var data = [{
    {% for record in data_records %}
      values: [
        {% for data_point in record.data_points %}
          {x: parseDate("{{ data_point.getDate()}}"), y: "{{ data_point.value }}"}{{ "," if not loop.last }}
        {% endfor %}
        ],      //values - represents the array of {x,y} data points
      key: '{{ record.region_name }}', //key  - the name of the series.
      color: '#' + (Math.random()*(1<<24)|0).toString(16).slice(2,8)  //color - optional: choose your own line color.
    }{{ ",{" if not loop.last }}
    {% endfor %}
  ];
  nv.addGraph(function() {
    priceToRentChart = nv.models.lineChart();
    var height = 300;
    priceToRentChart.useInteractiveGuideline(true);
    priceToRentChart.xAxis.axisLabel('Month Year').tickFormat(d3.timeFormat("%m %Y"));
    priceToRentChart.yAxis.axisLabel('Price-to-Rent Ratio').ticks(10);
    priceToRentChartData = d3.select('.line-chart svg').attr('perserveAspectRatio', 'xMinYMid').datum(data);
    priceToRentChartData.transition().duration(500).call(priceToRentChart);
    nv.utils.windowResize(priceToRentChart.update);
    return priceToRentChart;
  });

  $('#get-market-data').click(function() {
    $.get('/markets/get/region_data', {
      region_id: $('#region_id').children("option:selected").val()
    }).done(function(response) {
      var dataPointLength = response.dataPoints.length;
      var values = [];
      for (i = 0; i < dataPointLength; i++) {
          values.push({
            x: parseDate("" + response.dataPoints[i].month + " " + response.dataPoints[i].year),
            y: response.dataPoints[i].value
          });
      }
      data.push({
        values: values,      //values - represents the array of {x,y} data points
        key: response.region_name, //key  - the name of the series.
        color: '#' + (Math.random()*(1<<24)|0).toString(16).slice(2,8)  //color - optional: choose your own line color.
      });
      priceToRentChartData.datum(data).transition().duration(500).call(priceToRentChart);
      nv.utils.windowResize(priceToRentChart.update);
    }).fail(function() {
      alert('An error occurred.');
    });
  });

</script>
{% endif %}

<script>
  $('#region_type').change(function() {
    $.get("{{ url_for('markets.regions') }}", { region_type:this.value }, function(data) {
      var regionLength = data.regions.length;
      $('#region_id').find('option').remove();
      var option = new Option("Select a value", null);
      $('#region_id').append($(option));
      for(i=0; i<regionLength; i++) {
        var option = new Option(data.regions[i].name, data.regions[i].id);
        $('#region_id').append($(option));
      }
    });
  });
</script>
