<!-- Navigation Bar-->
        <header id="topnav">
          <div class="topbar-main">
                <div class="container-fluid">

                    <!-- Logo container-->
                    <div class="logo">
                        <!-- Text Logo -->
                        <a href="index.html" class="logo">
                            <span class="logo-small"><i class="mdi mdi-radar"></i></span>
                            <span class="logo-large"><i class="mdi mdi-radar"></i> Assignably</span>
                        </a>
                        <!-- Image Logo -->
                        <!--<a href="index.html" class="logo">-->
                        <!--<img src="assets/images/logo_dark.png" alt="" height="24" class="logo-lg">-->
                        <!--<img src="assets/images/logo_sm.png" alt="" height="24" class="logo-sm">-->
                        <!--</a>-->

                    </div>
                    <!-- End Logo container-->


                    <div class="menu-extras topbar-custom">
                        <ul class="list-inline float-right mb-0">

                            <li class="menu-item list-inline-item">
                                <!-- Mobile menu toggle-->
                                <a class="navbar-toggle nav-link">
                                    <div class="lines">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </a>
                                <!-- End mobile menu toggle-->
                            </li>
                            {% if g.search_form %}
                            <li class="menu-item list-inline-item app-search">
                                <form role="search" class="form-inline" method="get" action="{{ url_for('dashboard.search') }}">
                                  {{ g.search_form.q(size=20, class='form-control', placeholder='Search...') }}
                                </form>
                            </li>
                            {% endif %}
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle arrow-none waves-effect" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    <i class="mdi mdi-bell noti-icon"></i>
                                    {% if current_user.get_notification_count() > 0 %}
                                      <span class="badge badge-pink noti-icon-badge">{{ current_user.get_notification_count() }}</span>
                                    {% endif %}
                                </a>
                                <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-menu-lg" aria-labelledby="Preview">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="font-16"><span class="badge badge-danger float-right">{{ current_user.get_notification_count() }}</span>Notification</h5>
                                    </div>
                                    {% for notification in current_user.notifications %}
                                      <!-- item-->
                                      <a href="javascript:void(0);" class="dropdown-item notify-item">
                                          <div class="notify-icon bg-success"><i class="mdi mdi-comment-account"></i></div>
                                          <p class="notify-details">{{ notification.get_data() }}</p>
                                      </a>
                                    {% endfor %}
                                    <!-- All-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                                        View All
                                    </a>

                                </div>
                            </li>
                            <li class="list-inline-item dropdown notification-list">
                                <a class="nav-link dropdown-toggle waves-effect nav-user" data-toggle="dropdown" href="#" role="button"
                                   aria-haspopup="false" aria-expanded="false">
                                    My Account
                                </a>
                                <div class="dropdown-menu dropdown-menu-right profile-dropdown " aria-labelledby="Preview">
                                    <!-- item-->
                                    <div class="dropdown-item noti-title">
                                        <h5 class="text-overflow"><small class="text-white">Welcome ! John</small> </h5>
                                    </div>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-account-star-variant"></i> <span>Profile</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-settings"></i> <span>Settings</span>
                                    </a>

                                    <!-- item-->
                                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                                        <i class="mdi mdi-lock-open"></i> <span>Lock Screen</span>
                                    </a>

                                    <!-- item-->
                                    <a href="{{ url_for('security.logout')}}" class="dropdown-item notify-item">
                                        <i class="mdi mdi-logout"></i> <span>Logout</span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <!-- end menu-extras -->
                    <div class="clearfix"></div>
                </div> <!-- end container -->
            </div>

            <div class="navbar-custom">
                <div class="container-fluid">
                    <div id="navigation">
                        <!-- Navigation Menu-->
                        <ul class="navigation-menu">
                            <li class="has-submenu">
                                <a href="{{ url_for('dashboard.index') }}"><i class="mdi mdi-desktop-mac"></i>Dashboard</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{{ url_for('marketing.index') }}"><i class="mdi mdi-account-multiple"></i>Marketing</a>
                            </li>
                            <li class="has-submenu">
                                <a href="{{ url_for('upload.index') }}"><i class="mdi mdi-account-multiple"></i>Upload</a>
                            </li>
                            {% if current_user.is_admin() %}
                            <li class="has-submenu">
                                <a href="{{ url_for('admin.index') }}"><i class="mdi mdi-database"></i>Admin</a>
                            </li>
                            {% endif %}

                        </ul>
                        <!-- End navigation menu -->
                    </div> <!-- end #navigation -->
                </div> <!-- end container -->
            </div> <!-- end navbar-custom -->
        </header>
        <!-- End Navigation Bar-->
