{% include 'layouts/backend/common/header.html' %}

  <body>

      {% include 'layouts/backend/common/navbar.html' %}

      <div class="wrapper">
          <div class="container-fluid">
            <div class="row">
              {% if proforma is defined %}
                {% include 'proformas/layout/sidebar.html' %}
                <div class="col-md-10 ml-sm-auto col-lg-10">
              {% else %}
                <div class="col-md-12 ml-sm-auto col-lg-12">
              {% endif %}
                  {% include 'layouts/backend/common/flash_messages.html' %}
                  {% block content %}{% endblock %}
                </div>
            </div>
          </div> <!-- end container -->
      </div>
      <!-- end wrapper -->


      {% include 'layouts/backend/common/footer.html' %}


      {% include 'layouts/backend/common/javascript.html' %}

  </body>
</html>
